.flexbox {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding: 20px;
}

.card {
  height: 100%;
  width: 100%;
}

.card-header {
  display: flex;
  justify-content: left;
}

.contact-text {
  text-align: left;
  margin-bottom: 10px;
}

.flex-link {
  color: black;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    color: dodgerblue;
  }
}
