.form {
  gap: 8px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.submit-button {
  margin-top: 8px;
  width: 100%;
  background-color: #007bff !important;
  color: white !important;
  border: none !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  font-weight: bold !important;

  &:hover {
    background-color: #0056b3 !important;
  }
}
