.flex-container {
  display: flex;
  justify-content: center;
}

.flex-img {
  padding: 5%;
  padding-left: 10%;
}

.flex-text {
  display: flex;
  width: 100%;
  text-align: center;
  padding: 5%;
  justify-content: center;

  @media (min-width: 769px) {
    .flex-text {
      width: 50%;
    }
  }
}

.home-text {
  text-wrap: wrap;
  text-align: center;
  padding-bottom: 20px;
}
