.nav-bar {
  width: 100%;
  background-color: #9fdefd !important;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-start;
  padding: 0 16px;
  z-index: 1000;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 12px;
}

.navLink {
  font-size: large;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: color 0.2s, border-bottom-color 0.2s;

  &:hover {
    border-bottom: 2px solid black;
  }

  &.active-link {
    border-bottom: 2px solid black;
  }
}

.logoLink,
.logoLink:hover,
.logoLink.active-link {
  border-bottom: none !important;
}
